<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Action</title>
    <link rel="shortcut icon" href="{% static 'images/logo.jpeg' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"></head>
<body>
    <div class="container">
        <img src="{% static 'images/logo.png' %}" alt="logo">
        <div class="message">
            <img src="{% static 'images/done.gif' %}" alt="done">
            <p>Your action is done successfully !!..</p>
        </div>
    </div>
</body>
</html>
