{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Your username has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "Your username has been changed!" %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
{% include 'email/base.html' with title="Username Has Changed" body="Your username has been changed! Thanks for using our site!" %}
{% endblock html_body %}
